* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    font-family: montserrat;
	background-color: #8C7D77;
  }

  nav {
    background-color: #403A3A;
    height: 80px;
    width: 100%;
  }

  label.logo {
    color: #F2ECEB;
    font-size: 35px;
    line-height: 80px;
    padding: 0 0 0 45px;
    font-weight: bold;
  }

  nav ul {
	z-index: 1;
    float: right;
    padding-right: 20px;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a {
    color: #BFB3AE;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
  }

  a.active,a:hover {
    background-color: #555555;
    transition: .5s;
  }

  .checkbtn {
    font-size: 30px;
    color: #F2ECEB;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  @media (max-width: 1024px) {
    label.logo {
      font-size: 24px;
      padding-left: 15px;
    }

    nav ul li a {
      font-size: 15px;
    }
  }

  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #555555;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a {
      font-size: 20px;
    }

    a:hover,a.active {
      background: none;
      color: #403A3A;
    }

    #check:checked ~ ul {
      left: 0;
    }
  }

  section {
    background-size: cover;
    height: calc(98vh - 80px);
	margin:2vh 5vw 0vh 5vw;
  }
  
    @media (max-width: 256px) {
    label.logo {
      font-size: 6vw;
    }
  }