/* autor Mikołaj Buczak & Kamil Kaloch */

html {
	background-color: #403A3A;
	width: 70%;
	margin: auto;
}

.inputForm {
	width:30%;
	margin:auto;
	color:#F2ECEB;
	padding-top: 1vh;
	font-size: 2vw;
	font-weight: bold;
	
}

.input {
	padding-top: 1vh;
	
}

#id {
	size: 4;
	width: 100%;
	font-size: 4vmin;
}

#pin {
	size: 4;
	width: 100%;
	font-size: 4vmin;
}

h2 {
	font-size: 2.5vmax;
	width:100%;
	margin:auto;
	color: Red;
	text-align: center;
}

.error {
    display: none;
}

.b_Panel {
	width: 70%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.PlaceHolder {
	visibility: hidden;
	margin: 2% 6%;
	background-color: #555555;
	border: 0.5vmin #A68F63  solid;
	border-radius:3vmax;
	width: 18%;
	display: flex;
}
.PlaceHolderS{
	visibility: hidden;
	margin: 2% 3%;
	background-color: #555555;
	border: 0.5vmin #A68F63  solid;
	border-radius:3vmax;
	width: 8%;
	display: flex;
}

.button {
	margin: 2% 6%;
	background-color: #555555;
	border: 0.5vmin #A68F63  solid;
	border-radius:3vmax;
	width: 18%;
	display: flex;
	font-weight:bold;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

._AdminLogin {
	width: 48%;
	margin-top:7.5vh
}

.button:hover {
	background-color: #676767;
}

.contentL {
	text-align: center;
	font-size: 3.5vmin;
	width: auto;
	margin: auto;
	color:#F2ECEB;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.content {
	text-align: center;
	font-size: 4vmin;
	width: auto;
	margin: auto;
	color:#F2ECEB;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

@media only screen and (max-width: 1000px) {
	html {
		width: 85%;
	}
	.b_Panel {
		width: 85%;
	}
	.inputForm {
	width:40%;
	
	}
}

@media only screen and (max-width: 600px) {
	html {
		width: 95%;
	}
	.b_Panel {
		width: 95%;
	}
	.inputForm {
	width:50%;
	
	}
}