/* autor Mikołaj Buczak & Kamil Kaloch */
h2 {
    margin: 16px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

section {
    padding: 32px;
}

.select-box {
    position: relative;
    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box > * {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: #F2ECEB;
}    

.select-box .options-container {
    background: #403A3A;
    color: #F2ECEB;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #403A3A;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #F2ECEB;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option, .selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #555555;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.search-box input {
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #403A3A;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
}

.div1 {
    position: relative;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: gray;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table1 {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: white;
    width: 100%;
    margin: auto;
}

.div2 {
    height: 660px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: black;
}

td {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.slider{
    width: 800px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 125px;
    right: 400px;
  }
  
.slides{
    width: 500%;
    height: 700px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide > *{
    width: 800px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #403A3A;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}