/* autor Mikołaj Buczak & Kamil Kaloch */

html, body {
    height: 100%;
}

html {
    display: table;
	width: 95%;
    margin: auto;
}

body {
    display: table-cell;
    background: #403A3A;
}

h1 {
    text-align: center;
    color: #F2ECEB;
    font-weight: bold;
	font-size: 5.5vw;
}

form {
    width: 40vw;
    align-items: center;
    margin: 3vh auto;
}

input {
    display: block;
    margin: auto;
    width: 80%;
    padding: 1vh 1vw;
    margin: 15px auto;
    border: 0;
	font-size: 3.5vw;
}

.button {
	margin: 0% auto;
	background-color: #555555;
	border: 0.5vmin #A68F63  solid;
	border-radius:3vmax;
	width: 30vw;
	display: flex;
	font-weight:bold;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button:hover {
	background-color: #676767;
}

.content {
	text-align: center;
	font-size: 4vw;
	width: auto;
	margin: auto;
	color:#F2ECEB;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}
._EmployeeLogin{
	
	margin:7.5vh auto;
	width: 50vw;
}

h2 {
    text-align: center;
    color: RED;
    font-weight: bold;
	font-size: 4.0vw;
}

.error {
    display: none;
}

@media only screen and (min-width: 1000px) {
	h1 {
		font-size: 3.5vw;
	}
	h2 {
		font-size: 1.5vw;
	}
	input {
		font-size: 1.5vw;
	}
	.content {
		font-size: 1.5vw;
	}
	.button{
		width: 15vw;
	}
	._EmployeeLogin{
		width: 25vw;
	}
}