/* autor Mikołaj Buczak & Kamil Kaloch */
html {
	background: #403A3A;
}
.div1 {
    height: auto;
    width: 30vw;
    padding: 0.5vh 0.5vw;
    margin: 0;
    background-color: gray;
    border: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3vw;
	color: #F2ECEB;
	text-align: center;
}

.div2 {
    height: 70vh;
    width: 31vw;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid black;
}

.table2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    width: 31vw;
    color: #F2ECEB;
}

td {
    padding-top: 10px;
}

td:nth-child(1) {
    width: 500px;
    text-align-last: left;
    padding-left: 15px;
}

td:nth-child(2) {
    width: 100px;
}

button {
	color: #F2ECEB;
	background-color: #555555;
	border: 2px #A68F63  solid;
	border-radius:9px;
	font-weight:bold;
}

.oneTable {
    float: left;
    width: 33.33%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.columns::after {
    content: "";
    display: table;
    clear: both;
}



.bar {
	display: inline-block;
	width:100%;
	
}

h1 {
	display: inline-block;
	width:auto;
	color: #F2ECEB;
}

#logout {
	margin-top:15px;
	float:right;
	padding: 12px 20px;
	font-size: 1.3em ;
	color: #F2ECEB;
	text-align: center;
	background-color: #555555;
	border: 3px #A68F63  solid;
	border-radius:30px;
	font-weight:bold;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


@media only screen and (max-height: 500px) {
	.div2 {
		height: 60vh;
	}
}
@media only screen and (max-height: 400px) {
	.div2 {
		height: 50vh;
	}
}
@media only screen and (max-height: 300px) {
	.div2 {
		height: 40vh;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 5.4vw;
	}
	
	.oneTable {
		float: center;
		width: 100%;
	}
		
	.div2, .table2{
		width: 95vw;
	}
	.div1{
		width: 94vw;
		font-size: 1em;
	}
	#logout {
		font-size: 4.4vw;
		padding: 1.2vh 2.0vw;
		margin-top:2.0vw;
	}

}
@media only screen and (min-width: 1000px) {
	.div1{
		font-size: 1.4em;
	}
}
